<html>
<head>
	<link rel='stylesheet' type="text/css" href="stylesheets/style.css">
	<script src="js/ux.js"></script>
	<title>
	Rgister
	</title>
</head>
<body>
	<div id='div_form' onmouseover="divmouseover()" onmouseout="divmouseout()">
	<form action='/register/form' method='post' >
	<table>
	<tr colspan=2><td>User details</td></tr>
	<tr><td>name :</td><td><input type='text' name='name' required></td></tr>
	<tr><td>username :</td><td><input type='text' name='username' required></td></tr>
	<tr><td>password :</td><td><input type='password' name='pwd' required></td></tr>
	<tr><td>Retype password :</td><td><input type='password' name='pwd2' required></td></tr>
	<tr><td colspan=2><input type='submit' value = 'register'></td></tr>
	</table>
	</form>
	</div>
</body>
</html>